aiofiles
aiohttp~=3.12.15
alembic>=1.13
apscheduler
certifi; python_version > "3.9"
commentjson
cryptography
fastapi
GRPC>=1.76.0
itsdangerous
Jinja2
jose
psutil
pyTelegramBotAPI
pydantic<3,>=2.9.2
python-decouple
python-dotenv
python-multipart
python-telegram-bot
requests
SQLAlchemy>=2.0<3
telebot
uvicorn[standard]
watchfiles
websockets
click
pyopenssl
PySocks
qrcode
python-jose
passlib
sshtunnel
cryptography
pyOpenSSL
numpy<3,>=1.26.2
Pillow<12,>=10.3.0
websockets<16,>=15.0.1
pillow_heif<2,>=0.16.0
